.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top:55px;
  background-color: white;
  width: 72px;
  padding-top: 5px;
  z-index: 200;
}
.sidebar-link{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 74px;
  margin-bottom: 0px;
  padding-left: 0;
  cursor: pointer;
}
.sidebar-link-icon{
  height: 25px;
  margin-bottom: 6px;
}
.sidebar-link:hover{
  background-color: rgb(236, 234, 234);
}
.sidebar-link,img,div{
  font-family: Roboto,Arial;
  font-size: 10px;

}